<h1><%= "Welcome, #{@user.name}!" %></h1><br>

<p>Username: <%=@user.username%></p><br>

<h2>Your Current Jobs:</h2>
<% index = 0 %>
<p><% render_user_jobs.compact.each do |job| %>
    <%=index+=1%>. <a href="/jobs/<%=job.id%>"> <%= "#{job.location}" %></a><br>
<% end %>

<h2>Other Jobs: </h2>
<% index = 0 %>
<p><% render_non_user_jobs.compact.each do |job| %>
    <%=index+=1%>. <a href="/jobs/<%=job.id%>"> <%= "#{job.location}" %></a><br>
<% end %>


<form method="get" action="/jobs/new">
    <p><input type="submit" value="Create Job"></p>
</form>

<form method="post" action="/user/logout">
    <p><input type="submit" value="Log Out"></p>
</form>

<form method="post" action="/user/<%=@user.id%>">
    <input type="hidden" name="_method" value="delete">
    <p><input type="submit" value="Delete Account"></p>
</form>

