<h1><%= "Welcome, #{@user.name}!" %></h1><br>

<p>Username: <%=@user.username%></p><br>

<h2>Your Jobs:</h2>

<% if render_user_jobs.is_a?(Array)%>
    <% index = 0 %>
    <p><% render_user_jobs.each do |job| %>
        <%=index+=1%>. <a href="/jobs/<%=job.id%>"> <%= "#{job.location}" %></a><br>
    <% end %>
<% else %>
    <%=render_user_jobs%>
<% end %><br><br>


<h2>Other Jobs: </h2>

<% if render_non_user_jobs.is_a?(Array)%>
    <% index = 0 %>
    <p><% render_non_user_jobs.each do |job| %>
        <%=index+=1%>. <a href="/jobs/<%=job.id%>"> <%= "#{job.location}" %></a><br>
    <% end %>
<% else %>
    <%=render_non_user_jobs%>
<% end %><br><br>


<form method="get" action="/jobs/new">
    <p><input type="submit" value="Create Job"></p>
</form>

<form method="post" action="/user/logout">
    <p><input type="submit" value="Log Out"></p>
</form>

<form method="post" action="/user/<%=@user.id%>">
    <input type="hidden" name="_method" value="delete">
    <p><input type="submit" value="Delete Account"></p>
</form>

