<h1><%=@job.location%></h1>
<% if Helpers.user_job(@job.id).user_id == session[:user_id]%>
    <h3>You posted this job</h3><br><br>
<% else %>
    <h3>Posted by: <%=@job.users[0].username %></h3><br><br>
<% end %>
<p>Difficulty: <%=@job.difficulty%></p>
<p>Ghost Type: <%=@job.ghost_type%>
<p>Date: <%=@job.date%></p>
<p>Job Description: <%=@job.description%><br><br>


<form method="get" action="/user/<%=session[:user_id]%>">
    <p><input type="submit" value="Home"></p>
</form>
<% if Helpers.user_job(@job.id).user_id == session[:user_id]%>
    <form method="get" action="/jobs/<%=@job.id%>/edit">
        <p><input type="submit" value="Edit Job"></p>
    </form>
    <form method="post" action="/jobs/<%=@job.id%>">
        <input type="hidden" name="_method" value="delete">
        <p><input type="submit" value="Delete Job"></p>
    </form>
<% end %>